{% extends './base.html' %}

{% block menu %}
  <a href={% url 'akkordbase:index' %}>Главная</a>
  <a href={% url 'akkordbase:all_artists' %}>Все исполнители</a>
  {% if artist %}
    <a href={% url 'akkordbase:artist_page' artist.slug %}>{{artist}}</a>
    {% if song %}
      <a href={% url 'akkordbase:song_page' artist.slug song.slug %}>{{song}}</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <h1>{{heading}}</h1>
  {% if song %}
    {% include './pick-editor.html' %}
    <section id='pick'>
      
    </section>
  {% endif %}
  <div class='center'>
    {% if artist %}
      {% if song %}
      <form class='ajax' action={% url view_url artist.slug song.slug %}
       method='POST'>
      {% else %}
      <form class='ajax' action={% url view_url artist.slug %}
       method='POST'>
      {% endif %}
    {% else %}
      <form class='ajax' action={% url view_url %}
       method='POST'>
    {% endif %}
      {% csrf_token %}
      <div class='info'>
    {% if not song %}
      {% for field in form %}
        <div class='row'>
          <label class='col' for='{{field.id_for_label}}'>{{field.label}}</label>
          <div class='col'>{{field}}</div>
        </div>
      {% endfor %}
    {% endif %}
      </div>
        <button type="submit" name="button">Сохранить</button>
      </form>
  </div>
  <div id='status'>
  <!-- p class='ajax-info',  .... ajax-error -->
  </div>
  <script type='module' src="/static/js/form.js"></script>
  {% if song %}
    <script type='module' src="/static/js/editor.js"></script>
  {% endif %}
{% endblock %}
