<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>ExtraAkkord</title>
  </head>
  <body>
    <header>
      <div class="home">
        <a href={% url 'akkordbase:index' %}>home</a>
      </div>
      <nav class="bar">
        <div class='startswith'>
          {% include './header-nav.html' with letters="АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ" %}
        </div>
        <div class='startswith'>
          {% include './header-nav.html' with letters="ABCDEFGHILMNOPQRSTUVWXYZ" %}
        </div>
      </nav>
    </header>
    <main>
      <nav class='menu'>
        {% include './auth-block.html' %}
        {% block menu %}
        {% endblock %}
      </nav>
      <section class='content-area'>
        {% block content %}
        {% endblock %}
        {% if user.is_anonymous %}
          
        {% else %}
          {% block add %}
          {% endblock %}
        {% endif %}
      </section>
    </main>
    <footer>
    </footer>
    <script src='/static/js/href.js'></script>
  </body>
</html>
