<div class='akkord' data-type='akkord'>
  <div class='grid'>
    <div class='cycle show'>
      <span class='next-val' data-chord='' data-applicature=''></span>
      <div class='cell popup'>
        <button type='button' class='closer' >X</button>
        <p>Добавить аккорд</p>
        <div class='base'>
          <span>База:</span>
          <button type="button" name="-"><-</button>
          <span class='val'>E</span>
          <button type="button" name="+">-></button>
        </div>
        <div class='tone'>
          <span>Альтернативный бас:</span>
          <button type="button" name="-"><-</button>
          <span class='val'>E</span>
          <button type="button" name="+">-></button>
        </div>
        <div class='full'>
          <div class='extend'>
            <span>Тип:</span>
            <span>Распальцовка:</span>
          </div>
          <div class='extend'>
            <button class='option' type="button" data-index='0' name="">E</button>
            <div>
              <button type="button" name="-"><-</button>
              <span class='applicature'></span>
              <button type="button" name="+">-></button>
            </div>
            <button type="button" class='play' name="button">Play</button>
            <button type="button" class='ok' name="button">OK</button>
          </div>
          <div class='extend'>
            <button class='option' type="button" data-index='0' name="m" data-bass=''>Em</button>
            <div>
              <button type="button" name="-"><-</button>
              <span class='applicature'></span>
              <button type="button" name="+">-></button>
            </div>
            <button type="button" class='play' name="button">Play</button>
            <button type="button" class='ok' name="button">OK</button>
          </div>
          <div class='extend'>
            <button class='option' type="button" data-index='0' name="7">E7</button>
            <div>
              <button type="button" name="-"><-</button>
              <span class='applicature'></span>
              <button type="button" name="+">-></button>
            </div>
            <button type="button" class='play' name="button">Play</button>
            <button type="button" class='ok' name="button">OK</button>
          </div>
          <button type="button" name="all">Показать все</button>
        </div>
      </div>
    </div>
  </div>
  <div class='controls'>
    <button type="button" name="add-cycle">Добавить циклы</button>
    <button type="button" name="rm-cycle">Удалить циклы</button>
  </div>
</div>
