<div class='boi' data-type='boi'>
  <div class='grid'>
    <div class='cycle show'>
      <span class='next-val' data-cycle='' data-code=''></span>
      <div class='cell popup'>
        <button type='button' class='closer' >X</button>
        <p>Выбрать бой</p>
        <div class='full'>
          {% for boi in popular_bois%}
            <div class='extend'>
              <div>{{boi}}</div>

              <button type="button" class='play-boi'
                      data-code={{boi.code}}
                      data-cycle={{boi.cycle_length}} name="button">Play</button>
              <button type="button" class='ok-boi' name="button">OK</button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='controls'>
    

    <button type="button" name="add-cycle">Добавить циклы</button>
    <button type="button" name="rm-cycle">Удалить циклы</button>
  </div>
  <div class='count'>
    <span>0/4</span>
  </div>
  </div>
