{% extends './base.html' %}

{% block menu %}
  <a href={% url 'akkordbase:index' %}>Главная</a>
  <a href={% url 'akkordbase:all_artists' %}>Все исполнители</a>
  <a href={% url 'akkordbase:artist_page' pick.song.artist.slug %}>{{pick.song.artist}}</a>
  <a href={% url 'akkordbase:song_page' pick.song.artist.slug pick.song.slug %}>{{pick.song}}</a>
  <a href={% url 'akkordbase:pick_page' pick.song.artist.slug pick.song.slug pick.pick_id %}>Подбор №{{pick.pick_id}}</a>
{% endblock %}

{% block content %}
  <h1>Аккорды {{pick.song.artist}} - {{pick.song}}</h1>
  {{pick.music_data}}
  {{pick.views}}
{% endblock %}
