{% extends './base.html' %}

{% block menu %}
  <a href={% url 'akkordbase:index' %}>Главная</a>
  <a href={% url 'akkordbase:all_artists' %}>Все исполнители</a>
{% endblock %}

{% block content %}
  <h1>{{profile.user.username}}</h1>
  <div class='info'>
    <div class='row'>
      <span class='col'>Зарегистрирован</span>
      <span class='col'>{{profile.user.date_joined}}</span>
    </div>
    {% if can_edit %}
    <div class='row'>
      <span class='col'>Email</span>
      <span class='col'>{{profile.user.email}}</span>
    </div>
    <div class='row'>
      <span class='col'>Откуда</span>
      <div class='col'><input form='update-profile' name='location' maxlength='20' value={{profile.location}} ></input></div>
    </div>
    <div class='row'>
      <span class='col'>Немного о себе</span>
      <div class='col'>
        <textarea form='update-profile' name='bio' maxlength="400">{{profile.bio}}</textarea>
      </div>
    </div>
    <form id='update-profile' method="POST" action={% url 'akkordapi:update_profile' profile.user.username %}>
      {% csrf_token %}
      <button type="submit" name="button">Сохранить</button>
    </form>
    {% else %}
      <div class='row'>
        <span class='col'>Откуда</span>
        <span class='col'>{{profile.location}}</span>
      </div>
      <div class='row'>
        <span class='col'>Немного о себе</span>
        <span class='col'>{{profile.bio}}</span>
      </div>
    {% endif %}
  </div>
  {% if can_edit %}
  <h2>Сменить пароль</h2>
  <form class='ajax' method="POST" action={% url 'akkordapi:change_password' profile.user.username %}>
    {% csrf_token %}
  <div class='info'>
    <div class='row'>
      <span class='col'>Старый пароль</span>
      <div class='col'>{{psform.old_password}}</div>
    </div>
    <div class='row'>
      <span class='col'>Новый пароль</span>
      <div class='col'>{{psform.new_password}}</div>
    </div>
    <div class='row'>
      <span class='col'>Повторить новый пароль</span>
      <div class='col'>{{psform.new_confirm}}</div>
    </div>
  </div>
    <button type="submit" name="button">Сохранить</button>
  </form>
  <div id='status'>
  <!-- p class='ajax-info',  .... ajax-error -->
  </div>
  <script type='module' src="/static/js/form.js"></script>
  {% endif %}
{% endblock %}
