@font-face {
    font-family: 'DejaVuSans-ExtraLight';
    src: url('/static/fonts/DejaVuSans-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'DejaVuSans-ExtraLight';
  font-size: 24px;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

body > header{
  box-sizing: border-box;
  flex-basis: 25vh;
  flex-grow:1;
  flex-shrink: 1;
  padding-top: 2vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url('/static/pic/bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 20vh;
}

main{
  flex-basis: 75vh;
  display: flex;
  flex-flow: row nowrap;
}

.home{
  padding-left: 1rem;
  width: 50%;
}

a{
  text-decoration: none;
  color: #371a0c;
}

.bar{
  box-sizing: border-box;
  padding: .25rem 5%;
  top: 20vh;
  min-height: 5vh;
  width: 100%;
  border-top: .125rem solid #371a0c;
  border-bottom: .125rem solid #371a0c;
  background-color: #f4e8b6;
}

.startswith{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.startswith a{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 2ex;
  max-width: 2ex;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: .5rem auto;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: .25rem auto;
}

.menu{
  flex-basis: 20%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f4e8b6;
  border-right: .125rem solid #371a0c;
  display: flex;
  flex-flow: column nowrap;
}

.menu a{
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.auth{
  display:flex;
  flex-flow: column nowrap;
}

.menu .auth a{
  font-size: .75rem;
  color: #2f8c5d;
}

.current-location{
  color: #cc721f;
}

.content-area{
  box-sizing: border-box;
  flex-basis: 80%;
  padding: 1rem;
}

.content-area .list{
  display: flex;
  flex-flow: column nowrap;
}

.content-area .list a{
  padding: .25rem;
}

.center{
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.center form{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.center form label{
  display: flex;
  flex-flow: row nowrap;
}

.center form label > *{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.form-error{
  color: #a42222;
  text-align: center;
}

.info{
  display: flex;
  flex-flow: column nowrap;
}

.info .row{
  flex-basis: 1.25rem;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
}

.info .row .col{
  box-sizing: border-box;
  padding: .5rem;
  flex-basis: 50%;
}

.info .row .col:first-child{
  color: #602d14;
}

.info input, .info textarea{
  box-sizing: border-box;
  width: 100%;
  font-size: .75rem;
  color: #598870;
}

.info input:focus, .info textarea:focus{
  color: #000000;
}

.info textarea{
  height: 5rem;
}

.ajax-info{
  color: green;
}

.ajax-error{
  color: red;
}

.add{
  position: relative;
  display: block;
  text-align: center;
  font-size: .75rem;
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #371a0c;
}

.add:hover{
  background-color: #f4e8b6;
}

.add::before{
  position: absolute;
  display:table;
  content: '+';
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
}

.popup{
  display: none;
  position: absolute;
}

.popup.editor.active{
  display: flex;
}

.popup .closer{
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  right: .5rem;
  top: .5rem;
  padding: .5rem;
  color: black;
}

.editor{
  left: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  border: .25rem solid #371a0c;
  background-color: #ffffff;
  flex-flow: column nowrap;
}

.editor header{
  flex-basis: 2rem;
}

.editor .deck{
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.tools{
  flex-basis: 15%;
  min-height: 75vh;
  display: flex;
  flex-flow: column nowrap;
}

.play-all{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-image: url('/static/pic/playall.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.board{
  flex-basis: 85%;
  box-sizing: border-box;
  border-left: .125rem solid #371a0c;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow-y: scroll;
}

.add-line{
  background-color: transparent;
  margin-top: 1rem;
  order: 10000;
}

.paste{
  background-color: transparent;
  margin-top: 1rem;
  order: 10001;
}

.line{
  position: relative;
  box-sizing: border-box;
  flex-basis: 4.25rem;
  flex-grow: 0;
  flex-shrink: 1;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #371a0c;
  display: flex;
  flex-flow: row nowrap;
}

.play-line, .copy, .rm-line{
  position: absolute;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  bottom: 0;
  left: 0;
  background-image: url('/static/pic/play.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.copy{
  bottom: 1.5rem;
  background-image: url('/static/pic/copy.png');
}

.rm-line{
  bottom: 3rem;
  background-image: url('/static/pic/rm.png');
}

.line.to-copy{
  background-color: rgba(160,140,40,0.2);
}

.line .display{
  flex-basis: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.line .display > *{
  display: none;
}

.line .display.text .text{
  display: block;
  box-sizing: border-box;
  flex-basis: 90%;
  border-radius: 0;
  box-shadow: none;
  padding: .25rem;
}

.line .display.akkord .akkord{
  display: block;
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  flex-basis: 90%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  padding: .25rem;
  padding-bottom: 1.25rem;
}

.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.controls{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.controls > *{
  box-sizing: border-box;
  height: 1.25rem;
  flex-basis: 25%;
  padding: 0;
}

.controls .show{
  cursor: pointer;
  font-size: .75rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: rgba(39, 133, 28, 0.5);
}

.cycle{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 139, 4, 0.1);
  border: 1px solid #ffffff;
  height: 1rem;
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 0;
}

.boi .cycle{
  background-color: rgba(4, 255, 14, 0.1);
  flex-basis: 50%;
  max-width: 50%;
  font-size: .75rem;
  height: auto;
  min-height: 1rem;
}



.vocals .cycle{
  background-color: rgba(255, 4, 245, 0.1);
}

.cell p{
  text-align: center;
  padding: 0.5rem;
}

.cell .base, .cell .tone{
  flex-basis: 1.5rem;
  margin: 0 auto;
}

.cell .full{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cell .full .extend{
  width: 100%;
  box-sizing: border-box;
  flex-basis: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
}

.cell .full .extend > *{
  text-align: center;
  flex-grow: 1;
  height: 1.5rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

.cell .full .option{
  flex-basis: 30%;
  width: 30%;
  padding: 0;
  border-radius: 0;
}

.cell .full .extend > div{
  flex-basis: 60%;
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
}

.cell .full .play{
  flex-basis: 5%;
  width: 5%;
}

.cell .full .applicature{
  box-sizing: border-box;
  flex-basis: 80%;
  width: 80%;
  min-width: 18ex;
}

.line .display.boi .boi{
  display: block;
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  flex-basis: 90%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  padding: .25rem;
  padding-bottom: 1.25rem;
}

.line .display.vocals .vocals{
  display: block;
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  flex-basis: 90%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  padding: .25rem;
  padding-bottom: 1.25rem;
}

.line .mode{
  box-sizing: border-box;
  flex-basis: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.change-mode{
  flex-basis: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.change-mode.active{
  border-left: .25rem solid #20c64e;
  background-color: #a5e3b6;
}

.cycle .popup.active, .controls .popup.active{
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: .75rem;
  margin: 0;
  padding: 0;
  top: 100%;
  left: 10%;
  border: .125rem solid #371a0c;
  width: 35vw;
  display: flex;
  flex-flow: column nowrap;
  z-index: 5;
}

.controls .popup.active{
  width: 50vw;
  padding: 1.25rem;
  padding-bottom: 4.25rem;
}

.cycle .closer{
  top: 0;
  right: 0;
}

.boi-field{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-bottom: 2.25rem;
}

.create .controls{
  bottom: 2.25rem;
}

.boi-field + .controls{
  bottom: 4.25rem;
}

.create .status{
  position: absolute;
  bottom: 0;
}

.boi-field .hit{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(124, 115, 106, 0.1);
  border: 1px solid #ffffff;
  height: 1rem;
  flex-grow: 1;
  flex-basis: 12.5%;
  max-width: 12.5%;
  flex-grow: 1;
  flex-shrink: 0;
}

.boi .create .area{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.area p{
  flex-basis: 100%;
  height: 1rem;
  box-sizing: border-box;
}

.area > div{
  width: 50%;
  padding: .5rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.area label{
  flex-basis: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.hit{
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.hit .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.area input{
  display: none;
}

.area span{
  flex-basis: 80%;
  text-align: left;
  padding-left: 20%;
}

.area input:checked + span{
  border: 1px solid #371a0c;
  font-weight: bold;
  background-color: rgba(2,4,6,.1);
}

.create .s{
  background-image: url('/static/pic/hit/s.png');
}

.create .d{
  background-image: url('/static/pic/hit/d.png');
}

.create .x{
  background-image: url('/static/pic/hit/x.png');
}

.create .u{
  background-image: url('/static/pic/hit/u.png');
}

.create .i{
  background-image: url('/static/pic/hit/i.png');
}

.create .p{
  background-image: url('/static/pic/hit/p.png');
}

.create .q{
  background-image: url('/static/pic/hit/q.png');
}
.create .w{
  background-image: url('/static/pic/hit/w.png');
}
.create .e{
  background-image: url('/static/pic/hit/e.png');
}

.create .r{
  background-image: url('/static/pic/hit/r.png');
}

.create .h{
  background-image: url('/static/pic/hit/h.png');
}

.create .g{
  background-image: url('/static/pic/hit/g.png');
}

.create .f{
  background-image: url('/static/pic/hit/f.png');
}

.create .dd{
  background-image: url('/static/pic/hit/dd.png');
}

.create .b{
  background-image: url('/static/pic/hit/b.png');
}

.create .v{
  background-image: url('/static/pic/hit/v.png');
}

.create .p1{
  background-image: url('/static/pic/hit/1.png');
}

.create .p2{
  background-image: url('/static/pic/hit/2.png');
}

.create .p3{
  background-image: url('/static/pic/hit/3.png');
}

.create .p4{
  background-image: url('/static/pic/hit/4.png');
}

.create .p5{
  background-image: url('/static/pic/hit/5.png');
}

.create .p6{
  background-image: url('/static/pic/hit/6.png');
}

.create .status{
  bottom: -1.25rem;
  left: 0;
  font-size: .75rem;
  line-height: .75rem;

}

.roll {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
  width: 100%;
  align-items: center;
}

.roll > div{
  flex-basis: 1.5rem;
  width: 100%;
  text-align: center;
}

.roll .note{
  width: 12%;
  height: 1rem;
  box-sizing: border-box;
  background-color: #fdfdfd;
  border-radius: 0;
  border: .0625rem solid black;
  cursor: pointer;
}

.black .note{
  background-color: #cecece;
}

.note.empty{
  visibility: hidden;
}

.note.active{
  border-width: .125rem;
  background-color: rgba(255, 4, 245, 0.1);
}

.duration{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.5rem;
}

.count{
  position: absolute;
  bottom: 0;
  left: 1ex;
}

#pick{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.view-line{
  flex-basis: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.view-line .chords{
  display: flex;
  flex-basis: 1.5rem;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.chords > div{
  flex-grow: 1;
}



@media screen and (max-height: 550px){
  html{
    font-size: 20px;
  }

  body > header {
    padding-top: 1vh;
  }
}



@media screen and (max-width: 1300px){
  .cycle .popup.active{
    width: 45vw;
  }
}

@media screen and (max-width: 1200px){
  .controls .popup.active{
    width: 60vw;
  }
}

@media screen and (max-width: 1050px){
  .cycle .popup.active{
    width: 55vw;
  }
}

@media screen and (max-width: 1000px){
  .controls .popup.active{
    width: 70vw;
    left: 0;
  }

  .controls > * {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 900px){
  .add{
    width: 80%;
  }

  .controls .popup.active{
    width: 80vw;
  }

  .controls > * {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 850px){
  .cycle .popup.active{
    width: 65vw;
  }

  .controls > * {
    height: 2.25rem;
  }

  .line .display.akkord .akkord, .line .display.boi .boi, .line .display.vocals .vocals, .duration{
    padding-bottom: 2.25rem;
  }
}


@media screen and (max-width: 800px){
  .info .row{
    flex-flow: column nowrap;
  }

  .info .row .col{
    flex-basis: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 750px){
  .controls .popup.active{
    width: 85vw;
  }
}

@media screen and (max-width: 700px){
  .center{
    min-height: 50vh;
    height: auto;
  }

  .center form label{
    flex-flow: column nowrap;
    align-items: center;
  }

  .center form label > *{
    flex-basis: 1rem;
  }

  .cycle .popup.active{
    width: 75vw;
  }
}
